@using Shared.Asp.Alert
@using System.Diagnostics
@using Shared.Utils.Core


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="@AlertIcon.eCheck" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="@AlertIcon.eInfo" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="@AlertIcon.eExclamation" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


@functions
{
    AlertSettings aSettings = null;


    #region Initialization
    private void Init()
    {
        // Validate settings:
        if (Model == null)
            throw new ArgumentException("Missing alert model!");
        else if (Model is AlertSettings _aSettings)
            aSettings = _aSettings;
        else
            throw new ArgumentException(string.Format("Model is no '{0}' type!", nameof(AlertSettings)));
    }
    #endregion


    #region Render
    public void PrintAlert(Alert aAlert)
    {
        var _sLayout = UtlEnum.GetEnumDescription(aAlert.Layout);

        <div>
            <div class="alert alert-@_sLayout d-inline-flex" role="alert">
                <table>
                    @foreach (var _iItem in aAlert.Items.Where(_iItem => _iItem.Visible))
                    {
                        <tr>
                            @{
                                var _sColSpan = "";

                                // Display icon:
                                if ((_iItem is AlertTextItem _iIcon) && (_iIcon.Icon != AlertIcon.None))
                                {
                                    if (_iIcon.Icon == AlertIcon.Empty)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        int iSize = (_iItem is AlertTitleItem) ? 32 : 24;
                                        <td class="align-top">
                                            <div style="padding-right: 10px"> 
                                                <svg class="bi flex-shrink-0 me-2" width="@iSize" height="@iSize" role="img"><use xlink:href="#@_iIcon.Icon"/></svg>
                                            </div> 
                                        </td>
                                    }
                                }
                                else
                                    _sColSpan = "colspan=2";
                                
                                // Display content:
                                <td @_sColSpan>
                                    @switch (_iItem)
                                    {
                                        case AlertSeparatorItem:
                                            <hr>
                                            break;
                                        case AlertTitleItem _aTitle:
                                            var _sLines = _aTitle.ToString().Split('\n');
                                            <h4 class="alert-heading">@Html.Raw(_sLines[0])</h4>
                                            for (int i = 1; i < _sLines.Count(); i ++)
                                            {
                                                <h5 class="alert-heading">@Html.Raw(_sLines[i])</h5>
                                            }
                                            break;
                                        case AlertTextItem _aText:
                                            foreach (var _sLine in _aText.ToString().Split('\n'))
                                            {
                                                <p class="mb-0">@Html.Raw(_sLine.ToString())</p>
                                            }
                                            break;

                                        default:
                                            throw new NotImplementedException(string.Format("Failed to display not implemented alert of type '{0}'!", _iItem.GetType().Name));
                                    }
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    #endregion
}

@{
    Init();
    if (aSettings != null)
    {
        aSettings.Model
            .Where(_aAlert => _aAlert.Visible)
            .ForEach(_aAlert => PrintAlert(_aAlert));
    }
}
