@using Shared.Asp.GenNav
@using Shared.Asp.GenMenu
@using Shared.Utils.Core
@using System.Collections
@using System.Diagnostics
@using System.ComponentModel
@using System.Reflection

@functions{
    NavSettings mSettings = null;
    IMenuProvider iMenu = null;

    string POST_ACTION_KEY;
    string POST_ACTION_MODEL;


    #region Initialization
    private void Init()
    {
        // Validate settings:
        if (Model == null)
            throw new ArgumentException("Missing menu model!");
        else if (Model is NavSettings)
        {
            mSettings = (NavSettings)Model;
            iMenu = (mSettings.GetModel() as IMenuProvider);
        }
        else
            throw new ArgumentException(string.Format("Model is no '{0}' type!", nameof(NavSettings)));

        // Initialize parameters:
        POST_ACTION_KEY = NavAction.Format(PostValueNavAction.KEY);
        POST_ACTION_MODEL = mSettings.GetModel().GetType().ToString();
    }
    #endregion
}

@functions{
    private string GetMenuButtonClass(IMenuButton iButton)
    {
        var _sClass = UtlEnum.GetEnumDescription(iButton.Layout);
        if (iButton.Outlined)
            _sClass = _sClass.Replace("btn-", "btn-outline-");
        return (_sClass);
    }
    private bool IsMenuItemVisible(IMenuItem iItem)
    {
        if (!iItem.Visible)
            return (false);
        else if (iItem.Access == "")
            return (true);
        else
            return (User.IsInRole(iItem.Access));
    }
}
@functions{
    private void PrintMenuItems(IEnumerable<IMenuItem> iItems)
    {
        foreach (var _iItem in iItems)
        {
            if (!IsMenuItemVisible(_iItem))
                continue;

            switch (_iItem)
            {
                case TextMenuItem _mItem:
                    if (!_mItem.Enabled)
                    {
                        <li><a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">@_mItem.Text</a></li>
                    }
                    else
                    {
                        <li><input type="submit" class="dropdown-item" name="@ButtonClickMenuAction.FormatName(_mItem.Id)" value="@_mItem.Text" formaction="@mSettings.PostAction" formmethod="post" /></li>
                    }
                    break;

                case MenuSeparatorItem:
                    <li><hr class="dropdown-divider"></li>
                    break;
                case HeaderMenuItem _mHeader:
                    <li><h6 class="dropdown-header">@_mHeader.Text</h6></li>
                    break;

                case IMenuButton:
                    throw new InvalidOperationException(string.Format("Used menu item of not intent type '{0}'!", _iItem.GetType().Name));
                default:
                    throw new NotImplementedException(string.Format("Used menu item of not implemented type '{0}'!", _iItem.GetType().Name));
            }
        }
    }
}

@{
    Init();

    if (iMenu?.MenuGroups != null)
    {
        foreach (var _iGrp in iMenu.MenuGroups)
        {
            if (!IsMenuItemVisible(_iGrp))
                continue;
            <div class="btn-group" role="group" aria-label="@_iGrp.Label">
                @foreach (var _iBut in _iGrp.MenuButtons)
                {
                    if (!IsMenuItemVisible(_iBut))
                        continue;
                    switch (_iBut)
                    {
                        case DropDownMenuButton _aDropDownBut:
                            <div class="dropdown">
                                <button type="button" class="btn @GetMenuButtonClass(_aDropDownBut) dropdown-toggle" id="@_aDropDownBut.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                    @_aDropDownBut.Text
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="@_aDropDownBut.Id">
                                    @{
                                        PrintMenuItems(_aDropDownBut.Items);
                                    }
                                </ul>
                            </div>
                            break;

                        case SplitMenuButton _sSplitBut:
                            <div class="btn-group">
                                <input type="submit" class="btn @GetMenuButtonClass(_sSplitBut)" name="@ButtonClickMenuAction.FormatName(_sSplitBut.Id)" value="@_sSplitBut.Text" formaction="@mSettings.PostAction" formmethod="post" />
                                <button type="button" class="btn @GetMenuButtonClass(_sSplitBut) dropdown-toggle dropdown-toggle-split" id="@_sSplitBut.Id" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu" aria-labelledby="@_sSplitBut.Id">
                                    @{
                                        PrintMenuItems(_sSplitBut.Items);
                                    }
                                </ul>
                            </div>
                            break;

                        case MenuButton _aBut:
                            <input type="submit" class="btn @GetMenuButtonClass(_aBut)" name="@ButtonClickMenuAction.FormatName(_aBut.Id)" value="@_aBut.Text" formaction="@mSettings.PostAction" formmethod="post" />
                            break;

                        default:
                            throw new NotImplementedException(string.Format("Used menu button of not implemented type '{0}'!", _iBut.GetType().Name));
                    }
                }
            </div>
        }
    }
}
