@using Shared.Asp.GenNav
@using Shared.Utils.Core
@using System.Collections
@using System.Diagnostics
@using System.ComponentModel
@using System.Reflection


<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script>
    function GetValue(url, ctrlId, propName)
    {
        url += ("?property=" + propName);
        $.get(url, function (getValue) {
            document.getElementById(ctrlId).value = getValue;
        });
    }
    function PostValue(actionKey, modelType, url, ctrlId, propName)
    {
        var val = document.getElementById(ctrlId).value;
        $.post(url, {
                '$DUMMY': [
                    [ '$type', modelType ],
                    [ actionKey, '$DUMMY' ],
                    [ propName, val ]
                ]
            },
            function (data) {
                $("#msg").html(data);  
            });
    }
</script>


@functions{
    NavSettings nSettings = null;

    string POST_ACTION_KEY;
    string POST_ACTION_MODEL;


    #region Initialization
    private void Init()
    {
        // Validate settings:
        if (Model == null)
            throw new ArgumentException("Missing navigation model!");
        else if (Model is NavSettings _nSettings)
            nSettings = _nSettings;
        else
            throw new ArgumentException(string.Format("Model is no '{0}' type!", nameof(NavSettings)));

        // Initialize parameters:
        POST_ACTION_KEY = NavAction.Format(PostValueNavAction.KEY);
        POST_ACTION_MODEL = nSettings.GetModel().GetType().ToString();
    }
    #endregion


    #region Layouts
    /// Layout for a single row.
    /// - 1 x (Large) content column    [Mandatory]
    /// - 1 x (Small) extra column      [Optional]
    public void RowLayout(Action aContent, Action aExtra = null)
    {
        <div class="row">
            <div class="col form-group input-group flex-nowrap">
                @{
                    aContent();
                }
            </div>
            @if (aExtra != null)
            {
                <div class="col-auto">
                    @{
                        aExtra();
                    }
                </div>
            }
        </div>
    }
    public void ValueLayout(object oValue, ObjectInfo oInfo)
    {
        if (oInfo.RenderControl)
        {
            <span class="input-group-text" id="@oInfo.Id">@oInfo.Title</span>

            if (oValue is Enum _eVal)
                ChoiceValueLayout(_eVal, oInfo);
            else if (oValue is bool _bVal)
                CheckValueLayout(_bVal, oInfo);
            else
            {
                <input type="text" class="form-control" readonly="@oInfo.ReadOnly" name="@oInfo.RenderName" value="@FormatValue(oValue)" aria-describedby="@oInfo.Id" readonly="@oInfo.ReadOnly"/>
            }
        }
        else
            TextLayout(FormatValue(oValue));
    }
    public void AreaValueLayout(object oValue, ObjectInfo oInfo)
    {
        Action _aArea = () => {
            var sButId = ("but" + oInfo.Id);
            var sModalLabel = ("modal" + oInfo.Id);
            var sCtrlId = ("body" + oInfo.Id);
            var sGetUrl = string.Format("GetValue('{0}', '{1}', '{2}')", nSettings.GetAction, sCtrlId, oInfo.InstanceName);
            var sPostUrl = string.Format("PostValue('{0}', '{1}', '{2}', '{3}', '{4}')", POST_ACTION_KEY, POST_ACTION_MODEL, nSettings.PostAction, sCtrlId, oInfo.InstanceName);

            <!-- Button trigger modal -->
            <span class="input-group-text" id="@sButId">@oInfo.Title</span>
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#@oInfo.Id" onclick="@sGetUrl" aria-describedby="@sButId" readonly="@oInfo.ReadOnly">Edit</button>

            <!-- Modal -->
            <div class="modal fade" id="@oInfo.Id" tabindex="-1" aria-labelledby="@sModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="@sModalLabel">Source</h5>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" id="@sCtrlId" rows="15" cols="50" style="font-family:Lucinda Console" wrap="off"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="@sPostUrl" data-bs-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        };
        RowLayout(_aArea);
    }
    public void InputValueLayout(object oValue)
    {
        if (oValue != null)
        {
            <input type="text" class="form-control" value="@oValue.ToString()" />
        }
    }
    public void InputValueLayout(object oValue, ObjectInfo oInfo)
    {
        var _sVal = oValue ?.ToString() ??string.Empty;
        <input type="text" class="form-control" name="@oInfo.RenderName" placeholder="@oInfo.Description" value="@_sVal" readonly="@oInfo.ReadOnly">
    }
    public void ChoiceValueLayout(Enum eValue, ObjectInfo oInfo)
    {
        var _fFields = oInfo.Type.GetFields();
        string _sDisabled = (oInfo.ReadOnly ? "disabled" : "");
        string _sVal;

        <select class="form-select" name="@oInfo.RenderName" @_sDisabled>
            @{
                // Determine fields to display:
                IEnumerable<FieldInfo> _iFields = null;
                if ((_iFields == null) || (_iFields.IsEmpty()))
                    _iFields = _fFields.Where(_fField => (_fField.GetCustomAttribute<DescriptionAttribute>() != null));
                if ((_iFields == null) || (_iFields.IsEmpty()))
                    // Filter not intent fields:
                    _iFields = _fFields.Where(_fField => _fField.IsLiteral);

                foreach (var _fField in _iFields)
                {
                    var _oVal = _fField.GetValue(eValue);
                    if (oInfo.IsAllowed(_oVal))
                    {
                        if (!_fField.TryGetAttributeValue<DescriptionAttribute, string>(out _sVal))
                            _sVal = _oVal.ToString();

                        var _iVal = (int)_oVal;
                        var _bSel = _oVal.Equals(eValue) ? "selected" : "";
                        <option value="@_iVal" @_bSel>@_sVal</option>
                    }
                }
            }
        </select>
    }
    public void CheckValueLayout(bool bValue, ObjectInfo oInfo)
    {
        string _sDisabled = (oInfo.ReadOnly ? "disabled" : "");
        string _sChecked = (bValue ? "checked" : "");
        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="@oInfo.RenderName" value="@bool.TrueString" id="@oInfo.Id" @_sDisabled @_sChecked>
            <label class="form-check-label" for="@oInfo.Id">@FormatValue(bValue)</label>
        </div>
    }
    /// Layout for a text.
    public void TextLayout(string sText, TextStyle tStyle = TextStyle.eNormal)
    {
        if (!string.IsNullOrEmpty(sText))
        {
            switch (tStyle)
            {
                case TextStyle.eNormal:
                    <h5>@sText</h5>
                    break;

                case TextStyle.eMuted:
                    <h6 class="card-subtitle mb-2 text-muted">@sText</h6>
                    break;

                default:
                    string _sClass = UtlEnum.GetEnumDescription(tStyle);
                    <div class="alert @_sClass" role="alert">@sText</div>
                    break;
            }
        }
    }
    /// Layout for collapsable contents.
    public void CollapsedLayout(Action aContent, string sId, string sTitle)
    {
        Action _aCollapsed = () => {
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#@sId">@sTitle</button>
        };
        RowLayout(_aCollapsed);

        <div class="collapse" id="@sId">
            @{
                aContent();
            }
        </div>
    }
    /// Layout for a content-block.
    public void BlockLayout(Action aBody, Action aHeader = null, Action aFooter = null)
    {
        <div class="card">
            @if (aHeader != null)
            {
                <div class="card-header">
                    @{
                        aHeader();
                    }
                </div>
            }
            <div class="card-body">
                @{
                    aBody();
                }
            </div>
            @if (aFooter != null)
            {
                <div class="card-footer" align="right">
                    @{
                        aFooter();
                    }
                </div>
            }
        </div>
    }
    public void CollapsedBlockLayout(ObjectInfo oInfo, Action aBody, Action aHeader = null, Action aFooter = null)
    {
        Action _aCollapsed = () => {
            Action _aHeader = () => {
                <h6 class="card-subtitle mb-2 text-muted">@oInfo.Description</h6>
            };
            BlockLayout(aBody, _aHeader, aFooter);
        };
        CollapsedLayout(_aCollapsed, oInfo.Id, oInfo.Title);
    }
    public void InputGroupLayout(object oParent, ObjectInfo oParentInfo)
    {
        var _pProperties = oParent.GetType().GetProperties();

        // Filter displaed properties:
        var _pVisible = _pProperties.Where(_pProp => {
            var _pPurp = _pProp.PropertyType.GetPurposeEx();
            if (_pPurp != ExtType.Purpose.ePrimitive)
                return (false); // Skip.
            else if (!_pProp.IsBrowsable())
                return (false); // Skip.
            else
                return (true);
        });

        var _iCount = _pVisible.Count();
        <div class="input-group mb-@_iCount">
            @{
                foreach (var _pProp in _pVisible)
                {
                    var _oInfo = new ObjectInfo(_pProp, oParentInfo);
                    var _oVal = _pProp.GetValue(oParent);

                    if (!string.IsNullOrEmpty(_oInfo.Title))
                    {
                        <span class="input-group-text">@_oInfo.Title</span>
                    }

                    if (EvaluateLayout(_pProp, _oVal, _oInfo, _oVal?.GetType()))
                        ; // Contents evaluated.
                    else if (_oVal is Enum _eVal)
                        ChoiceValueLayout(_eVal, _oInfo);
                    else if (_oVal is bool _bVal)
                        CheckValueLayout(_bVal, _oInfo);
                    else
                        InputValueLayout(_oVal, _oInfo);
                }
            }
        </div>
    }
    #endregion


    #region Raw
    public void PrintRaw(ObjectInfo oInfo, object oValue)
    {
        // (BETA) ...
        // Display description (if defined) as tooltip!?

        if (oInfo.Embed)
            RowLayout(() => ValueLayout(oValue, oInfo));
        else
            ValueLayout(oValue, oInfo);
    }
    #endregion
    #region Print
    public void PrintButton(string sButtonClass, string sIconClass, string sName)
    {
        <button class="btn @sButtonClass" name="@sName" formaction="@nSettings.PostAction" formmethod="post" btn-padding-y="30">
            <i class="@sIconClass" style="font-size:20px"></i>
        </button>
    }
    // [Archiv]
    /*
    public void PrintButton(string sButtonClass, ObjectInfo oInfo)
    {
        var _sName = ButtonLayoutNavAction.FormatName(oInfo.RenderName);
        <button class="btn @sButtonClass" name="@_sName" formaction="@nSettings.PostAction" formmethod="post" btn-padding-y="30">
            @oInfo.Title
        </button>
    }
    */
    public void PrintCategory(string sName) => TextLayout(sName);
    #endregion
    #region Evaluation
    /// Evaluates the contents(!) of an unknown object.
    public void EvaluateUnknown(object oObject, ObjectInfo oInfo = null)
    {
        PropertyInfo _pProp = null;
        if (oInfo != null)
            _pProp = oInfo.Property;

        if ((_pProp != null) && (!_pProp.IsBrowsable()))
            ; // Skip.
        else
        {
            // Evaluate standard content:
            Type _tType = null;
            if (oObject != null)
                _tType = oObject.GetType();
            else if (oInfo != null)
                _tType = oInfo.Property.PropertyType;

            if (EvaluateLayout(_pProp, oObject, oInfo, _tType))
                ; // Contents evaluated.
            else
            {
                var _pPurpose = _tType.GetPurposeEx();
                switch (_pPurpose)
                {
                    case ExtType.Purpose.eNull:
                        break;

                    case ExtType.Purpose.eClass:
                        EvaluateClass(oObject, oInfo);
                        break;
                    case ExtType.Purpose.eDictionary:
                        EvaluateDictionary(oObject, oInfo);
                        break;
                    case ExtType.Purpose.eEnumerable:
                        EvaluateEnumerable(oObject, oInfo);
                        break;
                    case ExtType.Purpose.ePrimitive:
                        EvaluatePrimitive(oObject, oInfo);
                        break;

                    default:
                        throw new NotImplementedException(string.Format("Not implemented purpose '{0}'!", _pPurpose));
                }
            }

            // Evaluate additional content:
            if (oObject is IContentProvider iContent)
                EvaluateContentProvider(iContent, new ContentProviderInfo(oInfo, iContent));
        }
    }
    /// Evaluates the layout attribute of an object.
    private bool EvaluateLayout(PropertyInfo pProperty, object oObject, ObjectInfo oInfo = null, Type tType = null)
    {
        // Determine (may forced) purpose:
        LayoutAttribute _pLayoutAttrib = null;
        if ((pProperty != null) && (pProperty.TryGetCustomAttribute<LayoutAttribute>(out _pLayoutAttrib)))
            ;
        else if ((tType != null) && (tType.TryGetCustomAttribute<LayoutAttribute>(out _pLayoutAttrib)))
            ;

        if (_pLayoutAttrib == null)
            return (false);
        else
        {
            switch (_pLayoutAttrib.Layout)
            {
                case LayoutType.ePrimitive:
                    PrintRaw(oInfo, oObject);
                    break;
                case LayoutType.eAreaValue:
                    AreaValueLayout(oObject, oInfo);
                    break;
                case LayoutType.eInputGroup:
                    InputGroupLayout(oObject, oInfo);
                    break;
                case LayoutType.eButton:
                    var _pButLayoutAttrib = (ButtonLayoutAttribute)_pLayoutAttrib; 
                    var _sName = ButtonLayoutNavAction.FormatName(oInfo.RenderName);
                    PrintButton("btn-outline-secondary", _pButLayoutAttrib.IconClass, _sName);
                    break;
                case LayoutType.eRendered:
                    var _iContent = ((RenderedLayoutAttribute)_pLayoutAttrib).Render();
                    @_iContent
                    break;

                default:
                    throw new NotImplementedException(string.Format("Not implemented layout '{0}'!", _pLayoutAttrib.Layout));
            }
            return (true);
        }
    }
    /// Evaluates the additional contents of a content-provider instance.
    public void EvaluateContentProvider(IContentProvider iProvider, ContentProviderInfo cInfo)
    {
        Debug.Assert(iProvider != null);

        int i = 0;
        foreach (var _oItem in iProvider.Content)
            EvaluateUnknown(_oItem, new EnumeratedContentInfo(cInfo, _oItem, i++));
    }
    /// Evaluates the contents(!) of a class instance.
    public void EvaluateClass(object oObject, ObjectInfo oInfo = null)
    {
        var _tType = oObject.GetType();

        // Display notifications:
        foreach (var _dText in _tType.FilterProperties<DisplayTextAttribute>())
            TextLayout(_dText.Key.GetValue(oObject).ToString(), _dText.Value.Type);

        // Display properties:
        // (BETA) ...
        // Move category "general" index 0:
        var _dCategories = _tType.CategorizeProperties();

        @foreach (var _dCategory in _dCategories)
        {
            PrintCategory(_dCategory.Key);
            foreach (var _pProperty in _dCategory.Value)
                EvaluateUnknown(_pProperty.GetValue(oObject), new ObjectInfo(_pProperty, oInfo) { Embed = true });
        }
    }
    /// Evaluates the contents(!) of a dictionary instance.
    public void EvaluateDictionary(object oObject, ObjectInfo oInfo)
    {
        var _iDict = (oObject as IDictionary);
        if (_iDict == null)
            throw new InvalidCastException(string.Format("Object is no '{0}' type!", nameof(IDictionary)));
        else
        {
            var _tType = _iDict.GetType();
            if (_tType.GenericTypeArguments.Count() != 2)
                throw new InvalidCastException(string.Format("Found unexpected count of generic types in '{0}' type!", _tType.Name));
            else
            {
                var pKeyPurp = _tType.GenericTypeArguments[0].GetPurposeEx();
                var pValPurp = _tType.GenericTypeArguments[1].GetPurposeEx();

                var _iIdx = 0;
                foreach (var _oKey in _iDict.Keys)
                {
                    var _iVal = _iDict[_oKey];
                    var _dKeyInfo = new DictionaryKeyInfo(oInfo, _iIdx, _oKey);
                    var _dValInfo = new DictionaryValueInfo(oInfo, _iIdx, _iVal);

                    // Determine best layout for contents to display:
                    if ((pKeyPurp == ExtType.Purpose.ePrimitive) && (pValPurp != ExtType.Purpose.ePrimitive))
                        BlockLayout(() => EvaluateUnknown(_iVal, _dValInfo), () => ValueLayout(_oKey, _dKeyInfo));
                    else
                        throw new NotImplementedException(string.Format("Failed to present dictionary of type '{0}' due to not yet implemented layout!", oObject.GetType().Name));
                    _iIdx++;
                }
            }
        }
    }
    /// Evaluates the contents(!) of an enumerable instance.
    public void EvaluateEnumerable(object oObject, ObjectInfo oInfo)
    {
        if (oObject != null)
        {
            var _iEnm = (oObject as IEnumerable);
            if (_iEnm == null)
                throw new InvalidCastException(string.Format("Object is no '{0}' type!", nameof(IEnumerable)));
            else if (oInfo == null)
                throw new ArgumentNullException("Missing object-information! (Mandatory because contents are insufficiently described otherwise)");
            else
            {
                if (! (oObject is IList))
                    oInfo.SetReadOnly();

                Action _aBody = () => {
                    int _iIdx = 0;
                    foreach (var _iItem in _iEnm)
                    {
                        var _eItemInfo = new EnumeratedItemInfo(oInfo, _iIdx);

                        Action _aExtra = null;
                        if (!_eItemInfo.ReadOnly)
                            _aExtra = () => PrintButton("btn-outline-danger", "far fa-trash-alt", DeleteListItemNavAction.FormatName(_eItemInfo.RenderName));

                        RowLayout(() => EvaluateUnknown(_iItem, _eItemInfo), _aExtra);
                        _iIdx++;
                    }
                };

                Action _aFooter = null;
                if (!oInfo.ReadOnly)
                {
                    _aFooter = () => {
                        <input type="submit" class="btn btn-secondary" name="@AddListItemNavAction.FormatName(oInfo.RenderName)" value="Add" formaction="@nSettings.PostAction" formmethod="post" />
                    };
                }

                CollapsedBlockLayout(oInfo, _aBody, null, _aFooter);
            }
        }
    }
    /// Evaluates a primitive object.
    public void EvaluatePrimitive(object oObject, ObjectInfo oInfo = null) => PrintRaw(oInfo, oObject);
    #endregion


    #region Helper
    private string FormatValue(object oValue)
    {
        if (oValue == null)
            return ("");
        else
            return (oValue.ToString());
    }
    #endregion
}

@{
    Init();

    // Begin navigation:
    EvaluateUnknown(nSettings.GetModel());
}