@using Shared.Asp.UserNotice
@using System.Diagnostics

@model Shared.Asp.UserNotice.UserNoticeQueue;


@functions
{
    #region Constants
    private static readonly Dictionary<NoticeType, string> TYPECLASS_MAP = new Dictionary<NoticeType, string>()
    {
        { NoticeType.eNotification, "" },
        { NoticeType.eInfo, "bg-primary text-white" },
        { NoticeType.eSuccess, "bg-success text-white" },
        { NoticeType.eWarning, "bg-warning" },
        { NoticeType.eError, "bg-danger text-white" }
    };
    #endregion
}
@functions
{
    UserNoticeQueue uQueue = null;


    #region Initialization
    private void Init()
    {
        Debug.Assert((TYPECLASS_MAP.Count == 5), "[Debug] Check for unserialized notice-types!");

        // Validate settings:
        if (Model == null)
            throw new ArgumentException("Missing user-notice model!");
        else if (Model is UserNoticeQueue _uModel)
            uQueue = _uModel;
        else
            throw new ArgumentException(string.Format("Model of type '{0}' is no user-notice model!", Model.GetType().Name));
    }
    #endregion


    #region Render
    public void PrintUserNotice(UserNotice uNotice)
    {
        var sStyle = TYPECLASS_MAP[uNotice.NoticeType];

        <div class="toast @sStyle">
            <div class="toast-header">
                @{
                    if (!string.IsNullOrEmpty(uNotice.Title))
                    {
                        <strong class="mr-auto">@uNotice.Title</strong>
                    }
                    if (!string.IsNullOrEmpty(uNotice.SubTitle))
                    {
                        <small>@uNotice.SubTitle</small>
                    }
                }
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                    <span>&times;</span>
                </button>
            </div>
            @if (!string.IsNullOrEmpty(uNotice.Text))
            {
                <div class="toast-body">
                    @foreach (var _sRow in uNotice.Text.Split('\n'))
                    {
                        <div>@_sRow</div>
                    }
                </div>
            }
        </div>
    }
    #endregion
}

@{
    Init();
    if (uQueue != null)
    {
        <div class="container position-absolute top-0 end-0 p-3" style="z-index: 10">
            @while (uQueue.TryDequeue(out var _uNotice))
            {
                PrintUserNotice(_uNotice);
            }
        </div>
    }
}

<!-- [BOOTSTRAP] -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script>
    window.onload = (event) =>
    {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl)
        {
            return new bootstrap.Toast(toastEl, { delay: 10000 });
        });
        toastList.forEach(toast => toast.show());
    };
</script>
